body {
    min-height: 100vh;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 56px;
    /* height of navbar */
    background-color: #343a40;
}

#sidebar .nav-link {
    color: #fff;
    border-bottom: 1px solid #ebf5ff36;
}

#sidebar .nav-link.active {
    background-color: #495057;
}

/* Main content margin */
#content {
    margin-left: 250px;
    padding: 20px;
    margin-top: 56px;
    /* height of navbar */
}

/* Responsive adjustments */
@media (max-width: 992px) {
    #sidebar {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 0;
    }

    #content {
        margin-left: 0;
        margin-top: 0;
    }
}

/* Dropdwon Spinner */
.select_spinner {
    top: 39px !important;
    right: 11px !important; 
}

.select_spinner .spinner-border {
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-width: 2px !important;
}